html,
:root {
  height: 100%;
}

body {
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.bg-color{
    background: linear-gradient(90deg, #4822c7 0%, #624cab 100%);
}

#logout-btn:hover {
    background: linear-gradient(90deg, #624cab 0%, #4822c7 100%) !important;
}

.login-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.input-login input[type=text], input[type=password] {
    color: #fff;
}

.input-login input[type=text]:focus, input[type=password]:focus {
    border-bottom: 2px solid #ffffff !important;
    box-shadow: none;
}

.login-label {
    font-family: 'Kanit', sans-serif !important;
    font-weight: 500 !important;
    font-size: 17px !important;
    color: #fff !important;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color:rgb(255, 255, 255);
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #ffffff;
}

#ne-logo-login {
    width: 150px;
    margin: 40px 0 0 0;
}

.login-card {
    background-color: #3c00ff8c;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    backdrop-filter: blur(11px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 40px 0 0 0;
}

.input-login  {
    margin: 5px 0;
}

.login-btn {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.308) !important;
    transition: 0;5s;
    margin: 40px 0 0 0;
}
 .login-btn:hover{
    background-color: #fff !important;
    color: #4822c7 !important;
    transition: 0.5s;
 }

.switch label .lever {
    margin: 0 10px 0 0;
}

#nav-logo {
    padding: 14px;
    align-self: center;
}

.btn, .btn-small {
    border-radius: 20px;
    background-color: #00cfb7;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
}

a {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
}

.sec-bar {
    display: flex;
    height: 40px;
    background: linear-gradient(90deg, #00cfb7 0%, #22c2af 100%);
    position: relative;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.sec-bar p {
    font-family: 'Kanit', sans-serif !important;
    font-weight: 700 !important;
    color: #fff !important;
    text-align: center !important;
}

.pri-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.404);
    backdrop-filter: blur(10px);
}

.sec-container {
    height: 100%;
    width: 60%;
}

@media(max-width:900px){
    div.sec-containe{
        width: 80%;
    }
}
@media(max-width:600px){
    div.sec-containe{
        width: 100%;
    }
}

.cont-icons {
    color: #624cab;
}

.cont-label {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #624cab;
}

.collapsible-header{
    border-radius: 20px;
    transition: 0.5s;
}

.collapsible-header:hover {
    background-color: #624cab;
    transition: 0.5s;
}

.collapsible-header:hover i,.modal-trigger .collapsible-header:hover label {
    color: #fff;
    transition: 0.5s;
} 

.collapsible {
    border-radius: 21px;
}

.modal {
    max-height: 100% !important;
    border-radius: 20px;
    top: -15% !important
}

.modal .modal-content {
    padding: 20px;
    background-image: url(../img/back-cad.png);
    background-attachment: fixed;
}
#form-cad {
    display: flex;
    flex-direction: column;
}
#form-cad legend {
    font-family: 'Kanit', sans-serif;
    background-image: linear-gradient(90deg, rgba(98,76,171,1) 0%, rgba(72,34,199,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    margin: 5px 0;
    font-size: 22px;
    text-align: center;
}

.btn-cont {
    display: flex;
    justify-content: end;
    margin: 5px 0;
}

.colunas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.colunas .input-cont {
    width: 48%;
}

.dropdown-content {
    max-height: 200px !important;
}

.modal-content input[type=text]:not(.browser-default) {
    height: 2.5rem;
}

#form-cad label {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
}

.input-cont input[type=text]:focus {
    border-bottom: 1px solid #00cfb7 !important;
  }
