:root {
    --cor-principal: #624CAB;
}

.bg-color{
    background: linear-gradient(90deg, rgba(72,34,199,1) 0%, rgba(98,76,171,1) 100%);
}

#logout-btn:hover {
    background: linear-gradient(90deg, rgba(98,76,171,1) 0%, rgba(72,34,199,1) 100%) !important;
}

#nav-logo {
    padding: 14px;
    align-self: center;
}

.btn, .btn-small {
    border-radius: 20px;
}

a {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}